/* GLOBAL STYLES */

  /* Font Styles */
  /* End Font Styles */

/* END GLOBAL STYLES */

/* SLIDER STYLES */
.carousel {
  a {
    img.previousArro {
      display: block;
      border:1px solid $white;
      padding: 10px;
    }

    img.nextArrow {
      display: block;
      border:1px solid $white;
      padding:10px;
    }
  }
  .carousel-control-next, .carousel-control-prev {
    width: 10%;
  }
  .carousel-item {
    height:200px;

    img {
      height:200px;
      width: auto;
    }
  }
  .carousel-caption {
    width: 85%;
    left: 11.5%;
    text-align: left;
    bottom: 21%;

    h2 {
      font-size:25px;
      margin-bottom:10px;
      line-height:27px;
    }
    p {
      line-height:16px;
      color: $white;
    }
  }
}
/* END SLIDER STYLES */

/* HOMEPAGE STYLES */
.home {
  position:relative;
  top:0px;

  .mainHomeView {
    margin-bottom:30px;

    .colInner {
      background-color:$white;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    }
    .profileWrap {
      margin-bottom: 20px;
      .imageWrap {
        position:relative;
        top:-50px;

        div {
          display:flex;
          justify-content:center;
          margin-bottom: -30px;
        }
      }
      .profileDetails {
        h3 {
          color: rgba(29, 31, 36, 0.5);
          font-family: $paraFont;
          font-weight: 400;
          text-transform: none;
          text-align:center;
          width:100%;
        }
        h4 {
          font-size:40px;
          color:$green;
          text-align:center;
        }
        p {
          color: rgba(29, 31, 36, 0.4);
          text-align:center;
          text-transform:uppercase;
        }
      }
      .profileOptions {
        ul {
          list-style:none;
          margin-bottom:50px;

          li {
            border-top:1px solid #f2f3f6;
            padding:20px 25px;

            p {
              margin-bottom:0px;
              font-family: $headerFont;
              text-transform:uppercase;
              font-weight:500;
              color:#404248;
              letter-spacing:1px;
              text-align:center;
            }
            img {
              margin-right:20px;
            }
          }
          li:last-child {
            border-bottom:1px solid #f2f3f6;
          }
        }
      }
    }
    .newsfeedWrap {
      -webkit-box-shadow: 0px 55px 15px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 55px 15px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 55px 15px 0px rgba(0,0,0,0.1);

      .titleRow {
        border-bottom:1px solid #f2f3f6;
        padding-bottom:20px;
        margin-bottom:20px;
        div {
          display:flex;
          align-items: flex-end;

          h2 {
            color:$green;
            letter-spacing:2px;
            margin-bottom:0px;
          }

          p {
            color:#404248;
            font-family: $headerFont;
            font-weight:500;
            text-align:right;
            text-transform:uppercase;
            letter-spacing:2px;
          }
        }
        div:last-child {
          justify-content: flex-end;
        }
      }
      .newsItemWrap {
        border-bottom: 1px solid #f2f3f6;
        padding-bottom:20px;
        margin-bottom:20px;

        h3 {
          font-family: $paraFont;
          color:#1d1f24;
          font-weight:500;
          text-transform:none;
          font-size:18px;
        }
        h4 {
          font-family: $paraFont;
          color: rgba(29, 31, 36, 0.4);
          font-weight:400;
          text-transform:none;
          font-size:14px;
        }
        p.commentText {
          font-family: $paraFont;
          color: rgba(29, 31, 36, 0.7);
          font-weight:400;
          text-transform:none;
          font-size:14px;
        }
        .trophyIcon {
          margin:0 auto;
          display:block;
        }
        .likesComments {
          p {
            display:flex;
            margin-bottom:0px;

            img:first-child {
              margin-left:0px;
            }
            img {
              margin-left:18px;
              margin-right:5px;
              width:18px;
              height:18px;
            }
          }
        }
      }
      .newsItemWrap:last-child {
        border-bottom: none;
        margin-bottom: 0px;
      }
    }
    .viewAllWrap {
      margin-bottom:30px;
      padding: 0px;

      a:link, a:visited {
        background-color:$green;
        color:$white;
        display:block;
        text-align:center;
        font-family:$headerFont;
        text-transform:uppercase;
        font-weight:500;
        padding:15px 0px;
      }
      a:hover {
        text-decoration:none;
      }
    }
    .sidebarWrap {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .sidebarItemWrap {
    margin-bottom:30px;

    .imgWrap {
      position:relative;
      .category {
        position: absolute;
        display:block;
        background-color:$green;
        font-family:$headerFont;
        color:$white;
        text-transform:uppercase;
        font-weight:500;
        top:30px;
        padding: 11px 30px;
        letter-spacing:1px;
        font-size: 14px;
        width:140px;
      }
      img {
        width:100%;
      }
    }
    .itemText {
      padding:20px 20px 15px 20px;

      h3 {
        font-family:$paraFont;
        text-transform: none;
        color:#1d1f24;
        font-size:18px;
      }
      p {
        font-size:14px;
        line-height:16px;
        margin-bottom:0px;
        color:rgba(29, 31, 36, 0.6);
      }
    }
  }
  .resourceWrap {
    .sidebarItemWrap {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    }
  }
}
/* END HOMEPAGE STYLES */
