/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,500&display=swap');

/* END FONT IMPORTS */

/* START VARIABLES */
$headerFont: 'Oswald', sans-serif;
$paraFont: 'Lato', sans-serif;

/* END VARIABLES */

/* GLOBAL STYLES */
h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  text-transform:uppercase;
}
h1 {

}
h2 {

}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* END GLOBAL STYLES */

/* START MEDIAQUERY IMPORTS */
@import './styles/mobile.scss';
@import './styles/sm.scss';
@import './styles/md.scss';
@import './styles/large.scss';
@import './styles/xl.scss';
/* END MEDIAQUERY IMPORTS */
